.container-basic {
			display: grid;
			grid-gap: 10px;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		
		.nav-bar {
			width: 100%;
			height: 80px;
			background-color: #BCC6CC;
			padding: 10px;
		}

			.nav-bar .logo {
				float: left;
				width: 50px;
				height: 50px;
				background-color: gray;
				margin-right: 30px;
			}

			.nav-bar .banner {
				float: right;
				width: 80%;
				height: 30px;
				background-color: gray;
				margin-bottom: 10px;
			}

			.nav-bar div {
				float: right;
				width: 15%;
				height: 40px;
				background-color: gray;
				margin-right: 10px;
			}

		/*slide show start*/

		.slider {
			width: 100%;
			height: 600px;
			background-color: #BCC6CC;

		}	

		/*moto start*/

		.moto {
			display: grid;
			width: 100%;
			height: 600px;
			background-color: #BCC6CC;
		}

			
			.moto h2 {
				width: 100%;
				height: 80px;
				text-align: center;
				font-family: tahoma;

			}

			.kotak1 {
				width: 100%;
				height: 500px;
				display: flex;
				justify-content: space-between;
			}

			.moto .kotak1 div {
				width: 30%;
				height: 420px;
				background-color: gray;
				margin-top: 30px;
			}

		
		/*our service start*/
		
		.our-service {
			display: grid;
			width: 100%;
			height: 750px;
			background-color: #BCC6CC;
		}

			.our-service h2 {
				width: 100%;
				height: 80px;
				text-align: center;
				font-family: tahoma;
				border: 	solid 1px;	
			}

			.kotak2 , .kotak3 {
				width: 	100%;
				height: 300px;
				border: 	solid 1px;
				display: 	flex;
				justify-content: center;

			}


			.keamanan, .vip , .k9 , .outbound , .sar , .tembak {
				width: 	300px;
				height: 	300px;
				background-color: 	lightgray;
				margin-right: 100px;

			}



			/*Recrutment system*/

			.rec-system {
				display: grid;
				width: 100%;
				height: 750px;
				background-color: #BCC6CC;

			}

				.rec-system h2 {
					width: 100%;
					height: 80px;
					text-align: center;
					font-family: tahoma;
					border: solid 1px;
				}

				.rect {
					width: 100%;
					height: 500px;
					border: solid 1px;
					display: flex;
					justify-content: center;

				}

				.rect1 , .rect2 {
					width: 40%;
					height: 500px;
					background-color: lightgray;

				}

				.rect1 {
					margin-right: 50px;
				}



			/*routine training*/

			.rout-training {
				display: grid;
				width: 100%;
				height: 750px;
				background-color: #BCC6CC;

			}

				.rout-training h2 {
					width: 100%;
					height: 80px;
					text-align: center;
					font-family: tahoma;
					border: solid 1px;
				}

				.rout {
					width: 100%;
					height: 500px;
					border: solid 1px;
					display: flex;
					justify-content: center;

				}

				.rout1 , .rout2 {
					width: 40%;
					height: 500px;
					background-color: lightgray;

				}

				.rout1 {
					margin-right: 50px;
				}	



			/*Our Client*/
			.our-client {
				display: grid;
				width: 100%;
				height: 750px;
				background-color: #BCC6CC;

			}

				.our-client h2 {
					width: 100%;
					height: 80px;
					text-align: center;
					font-family: tahoma;
					border: solid 1px;
				}


			
			/*contact us*/
			.contact-us {
				display: grid;
				width: 100%;
				height: 500px;
				background-color: #BCC6CC;
				display: flex;
				justify-content: space-between;
			}

				.alamat {
					width: 30%;
					height: 480px;
					border: solid 1px;
				}

				.coffe {
					width: 60%;
					height: 480px;
					border: solid 1px;
				}

			
