body {
  margin:0;
}

/*-------------------------------------NAVBAR START-------------------------------------------*/
.navbar {
    width: 100%;
    height: 100px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .logo {
  width: 70%;
  margin-left: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*position: -webkit-sticky;  Safari 
  position: sticky;*/
  /*position: fixed;*/
  z-index: 3;
  top: 0;
  height: 70px;
}

.navbar ul li {
  float: left;
}

.navbar li a {
  display: inline-flex;
  color: black;
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 70px;
}

.navbar ul li a:hover {
  background-color: #eaeaea;
}

.navbar .active {
  background-color: #eaeaea;
}
/*-------------------------------------NAVBAR END-------------------------------------------*/

/*--------------------------------------SLIDE SHOW START--------------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*--------------------------------------SLIDE SHOW END--------------------------------------*/





/*--------------------------------------VISI MISI START----------------------------------*/

.visi_misi {
  margin-top: 70px;
  width: 100%;
  height: 650px;
 /* background-color: gray;*/
  display:  flex;
  flex-direction:   row;
}


.misi {
  width: 50%;
  height : 700px;
  margin-top: 180px;
  margin-left:  150px;
  /*background-color: yellow;*/
  align-content: right;
  font-size: 22px;
  float: left;
}
.misi h2 {
  color: black;
}

.img_misi {
  float: left ;
  width:  600px;
  margin-left:  0;
}





/*--------------------------------------VISI MISI END----------------------------------*/



/*--------------------------------------MOTO SECTION START----------------------------------*/
.adv {
  width: 100%;
  height: 900px;
  /*background-color: yellow;*/
  display: flex; 
  flex-direction: column; 
  margin-top: 40px;
}

.adv-grid {
  width: 100%;
  height: 660px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.adv .details h2{
  color:black;
  font-size:50px;
  text-align: center
}

.adv .details p {
  text-align: center;
}

.adv-grid1 {
  width: 50%;
  height: 100%;
  background-image:  url('img/adv-play.png');
  background-repeat:  no-repeat;  
  background-size: 65%;
 /* border: 1px solid black;*/
  padding-top: 10px;
  margin-left:  50px;
}


.adv-grid2 {
  width: 60%;
  height: 100%;
  background-image: url('img/cpt.svg');
  background-size: 100%;
  background-repeat: no-repeat;   

}














/*--------------------------------------MOTO SECTION END----------------------------------*/



/*------------------------------------SERVICE START----------------------------------------*/

.container-service{
  width:100%;
  height:   650px;
  margin: 0 auto;
  padding-top:  5px;
}

.container-service .details{
  text-align: center;
}

.container-service .details h2{
  color:#243238;
  font-size:50px;
}

.container-service .main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.container-service .box{
  width: 400px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 0px 0px;
  color: orange;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}

.container-service .box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.container-service .box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container-service .box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.container-service .box .icon-keamanan{
  width: 100%;
  height: 200px;
  background-image: url(img/service-security.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-service .box .icon-keamanan-vip{
  width: 100%;
  height: 200px;
  background-image: url(img/service-vip.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-service .box .icon-keamanan-k9{
  width: 100%;
  height: 200px;
  background-image: url(img/k9-service.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-service .box .icon-outbound{
  width: 100%;
  height: 200px;
  background-image: url(img/outbound.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}


.container-service .box .icon-sar{
  width: 100%;
  height: 200px;
  background-image: url(img/sar.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-service .box .icon-tembak{
  width: 100%;
  height: 200px;
  background-image: url(img/latihan-tembak.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}


/*.container-service .box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.container-service hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255,255,255, 0.1);

}

.container-service .box a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color:#D50000 ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
}

.container-service .box a:hover{
  background-color:#243238 ;
}

.container-service .box .white-border{
  border: 1px solid #ffffff;
}


.container-service .box-grey{
  background: linear-gradient(0deg, rgba(0,53,149,1) 0%, rgba(45,115,253,1) 100%);
}

.container-service .box-red{
 background: linear-gradient(0deg, rgba(0,53,149,1) 0%, rgba(45,115,253,1) 100%);
}

/*------------------------------------SERVICE END----------------------------------------*/


/*------------------------------------RECRUTMENT SYSTEM-------------------------------------*/
.container-recrutment {
  width: 100%;
  height: 700px;
  /*background-color: yellow;*/
  display: flex; 
  flex-direction: column; 
  margin-top: 40px;
  background-image: url(img/recrutment2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.rec-grid {
  width: 100%;
  height: 660px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.rec .details h2{
  color:white;
  font-size:50px;
  text-align: center
}

.rec .details p {
  text-align: center;
}

.rec-grid1 {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  padding-top: 10px;
  margin-left:  50px;
}

.rec-grid1 h2 , .rec-grid1 p {
  color: white;
}


.rec-grid2 {
  width: 60%;
  height: 100%;
  background-image: url('img/recrutment.png');
  background-size: 100%;
  background-repeat: no-repeat;   

}

/*--------------------------------------TRAINING SECTION START----------------------------------*/

.container-training{
  width:100%;
  height:   650px;
  margin: 0 auto;
  padding-top:  5px;
}

.container-training .details{
  text-align: center;
}

.container-training .details h2{
  color:#243238;
  font-size:50px;
}

.container-training .main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.container-training .box{
  width: 400px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 0px 0px;
  color: orange;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}

.container-training .box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.container-training .box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container-training .box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}



.container-training .box .icon-pelatihan1 {
  width: 100%;
  height: 200px;
  background-image: url(img/pelatihan2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-training .box .icon-pelatihan2 {
  width: 100%;
  height: 200px;
  background-image: url(img/pelatihan1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container-training .box-grey-pel{
  background: linear-gradient(0deg, rgba(0,53,149,1) 0%, rgba(45,115,253,1) 100%);
}








/*--------------------------------------TRAINING SECTION END----------------------------------*/



/*--------------------------------------CLIENT SECTION START----------------------------------*/

.our-client {
  width: 100%;
  height: 500px;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  text-align: center;
}


/*--------------------------------------CLIENT SECTION END----------------------------------*/



.contact-us {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  margin-top:  200px;
  text-align:   center;
}

.contact-us .details h2 {
  /*background-color:   yellow;*/
  width: 100%;
}

.contact-us img{
  /*background-color:   red;*/
  float:  left;
  margin-top: 50px;
}


.description {
  width: 63%;
  height: 445px;  
  position:   relative; 
  /*background-color:   gray;*/
  margin-left:  0px;
  margin-top: 80px;
  padding-right:  20px;
  float:  left;
  text-align:   left;
}



/*--------------------------------------CLIENT SECTION END----------------------------------*/





/*--------------------------------------CONTACT US START----------------------------------*/


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background: linear-gradient(0deg, rgba(241,82,3,1) 0%, rgba(241,82,3,1) 5%, rgba(50,58,122,1) 20%, rgba(8,53,149,1) 37%, rgba(8,53,149,1) 39%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------CONTACT US END----------------------------------*/



/*-------------------------------------FOOTER START----------------------------------------*/

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  display: inline-block; 
  margin-top: -30px; 
}

.info-pt {
  width: 40%;
  height: 150px;
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  float: left;
  border:1px solid red;
}

.info-pt h2 , .info-pt p {
  color: white;

}

.menu-footer {
  width: 30%;
  height: 150px;
  border:1px solid red;
  float: left;
  text-align: left;
  font-family: sans-serif;
}

.menu-footer ul li a , h2 {
  text-decoration: none;
  color:white;
} 

.menu-footer ul li {
  list-style-type: none;
}


.social-media {
  width: 28%;
  height: 150px;
  border: 1px solid red;
  float: left;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.social-media .sosmed {
  display: flex;
  flex-direction: row;
  height: 280px;
  align-items: center;
  justify-content: center;
}

.social-media .sosmed .sos {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin-right: 30px;
}


.copywrite {
  width: 100%;
  height:auto;
  border: 1px solid red;
  float: left;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copywrite h5 {
  color: white;
}



/*-------------------------------------FOOTER END----------------------------------------*/

